table {
  padding-left: 20px;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}

.holes {
  color: #f0f0f0;
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
  background-color: #6c7ae0;
}

td {
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
}

app-courses {
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
}

.title {
  padding-right: 7em;
  text-align: left;
}


.pars {
  color: #f0f0f0;
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
  background-color: #6c7ae0;
}

.white {
  background-color: white;
  border: none;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.number {
  padding: 5px;
  font-size: 15px;
  width: 45px;
}

input {
  display: block;
  outline: none;
  border: none !important;
}


.names  {
  text-align: center;
  margin: inherit;
  border: none;
}

.firstPlayer, .secondPlayer, .thirdPlayer, .fourthPlayer, .handicap {
  height: 2.5em;
  padding: 0;
}

.form {
  text-align: center;
  margin: -.4em 0
}

.button {
  padding: 0;
  border: none;
  padding-right: 5px;
}
