table {
  padding-left: 20px;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}

.holes {
  color: #f0f0f0;
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
  background-color: #6c7ae0;
}

td {
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
}

app-courses {
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
}


.pars {
  color: #f0f0f0;
  font-size: 1.25em;
  padding: 1em;
  border: 1px solid #dddddd;
  background-color: #6c7ae0;
}

.white {
  background-color: white;
  border: none;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.number {
  text-align: center;
  padding: 5px;
  font-size: 15px;
  width: 45px;
}

input {
  display: block;
  outline: none;
  border: none !important;
}


.names  {
  font-size: 15px;
  text-align: center;
  margin: inherit;
}

.firstPlayer, .secondPlayer, .thirdPlayer, .fourthPlayer, .handicap {
  height: 2.5em;
  padding: 0;
}

.form {
  text-align: center;
  /* margin: -.4em 0 */
  padding: 0px 0px 10px 20px
}

.button {
  padding: 0;
  border: none;
  padding-right: 5px;
}

.totals {
  padding-right: 10px;
  text-align: center;
}

.submit {
  width: 175px;
  margin-top: 15px;
  color: #f0f0f0;
  background-color: #6c7ae0;

}

.submitButton {
  padding-left: 20px;
}

.title {
  font-size: 15px;
  padding: 0px 60px 0px 50px;
}

.cName {
  padding: 15px;
}
